# Xdebug Configuration
XDEBUG_CLIENT_HOST=host.docker.internal
XDEBUG_CLIENT_PORT=9001
XDEBUG_IDE_KEY=PHPSTORM

# Database Configuration
MYSQL_ROOT_PASSWORD=secret
MYSQL_DATABASE=de-headless-symfony
MYSQL_USER=symfony
MYSQL_PASSWORD=symfony
MYSQL_PORT=4306

# Nginx Configuration
NGINX_PORT=80

# Docker Volumes
APP_VOLUME=./app:/var/www/de-headless-symfony
NGINX_CONF_VOLUME=./nginx/default.conf:/etc/nginx/conf.d/default.conf
MYSQL_VOLUME=./mysql:/var/lib/mysql

# Container Names
PHP_CONTAINER_NAME=php
NGINX_CONTAINER_NAME=nginx
DATABASE_CONTAINER_NAME=database