{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/login/app.css') }}">
{% endblock %}

{% block body %}
    <div class="wrapper">
        <div class="container">
            <div class="title__wrapper">
                <h1 class="title">Login</h1>
                <h1 class="title__hover">Welcome Back</h1>
            </div>

            <form method="post" action="{{ path('security_login') }}">
                <div class="input-group">
                    <input type="text" id="username" name="username" class="input-form" required autofocus>
                    <label for="username" class="input-label">Username</label>
                </div>

                <div class="input-group">
                    <input type="password" id="password" name="password" class="input-form" required>
                    <label for="password" class="input-label">Password</label>
                </div>

                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                <div class="button-wrapper">
                    <button type="submit" class="btn">Sign In</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}